


#about {
    background-color: white;
    width: 100%;
    padding: 0 10%;
}

.about_div {
    background-color: purple;
    height: 500px;
    display: inline-block;
    width: 100%;
    margin: 1px;
}



/* ***** NavBar ***** */

